---
http_interactions:
- request:
    method: get
    uri: https://www.tinkoff.ru/api/v1/currency_rates
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 30 Jul 2018 14:26:34 GMT
    body:
      encoding: UTF-8
      string: '{"resultCode":"OK","payload":{"lastUpdate":{"milliseconds":1532960783546},"rates":[{"category":"DepositClosingBenefit","fromCurrency":{"name":"USD","code":840},"toCurrency":{"name":"RUB","code":643},"buy":61.45},{"category":"DepositClosingBenefit","fromCurrency":{"name":"EUR","code":978},"toCurrency":{"name":"RUB","code":643},"buy":71.65},{"category":"DepositClosingBenefit","fromCurrency":{"name":"GBP","code":826},"toCurrency":{"name":"RUB","code":643},"buy":80.55},{"category":"DepositClosing","fromCurrency":{"name":"USD","code":840},"toCurrency":{"name":"RUB","code":643},"buy":61.45},{"category":"DepositClosing","fromCurrency":{"name":"EUR","code":978},"toCurrency":{"name":"RUB","code":643},"buy":71.65},{"category":"DepositClosing","fromCurrency":{"name":"GBP","code":826},"toCurrency":{"name":"RUB","code":643},"buy":80.55},{"category":"DepositPayments","fromCurrency":{"name":"USD","code":840},"toCurrency":{"name":"RUB","code":643},"buy":61.45,"sell":63.95},{"category":"DepositPayments","fromCurrency":{"name":"USD","code":840},"toCurrency":{"name":"GBP","code":826},"buy":0.7462686567,"sell":0.78125},{"category":"DepositPayments","fromCurrency":{"name":"USD","code":840},"toCurrency":{"name":"EUR","code":978},"buy":0.8403361345,"sell":0.8771929825},{"category":"DepositPayments","fromCurrency":{"name":"EUR","code":978},"toCurrency":{"name":"RUB","code":643},"buy":71.65,"sell":74.55},{"category":"DepositPayments","fromCurrency":{"name":"EUR","co[...]
